<%- include ('partials/nav-bar.ejs') %>
<!DOCTYPE html>
<html lang="en">

    <head>
        <title>Home</title>
        <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
        <link rel="stylesheet" href="./css/style.css" >
    </head>

    <body>

        <section class="home">
            <div class="home-img">
                <img src="./img/picture.jpeg" alt="">
            </div>
            <div class="home-content">
                <h3>Hello, This is</h3>
                <h1>Julian Rodriguez</h1>
                <h3>And I'm a <span class="multiple-text">Software Developper</span></h3>
                <p>I'm a talented Software Developer equipped with great coding, debugging and project management abilities. 
                  Accomplishes project goals consistently with elegant, scalable code. Works great with team members under Agile and Scrum frameworks.</p>
    
                <div class="social-media">
                    <a href="/download-cv" target="_blank">CV</a>
                    <a href="https://www.linkedin.com/in/julian-enrique-bolano-rodriguez/" target="_blank"><i class='bx bxl-linkedin' ></i></a>
                    <a href="https://github.com/Julian0718" target="_blank"><i class='bx bxl-github'></i></a>
                </div>
            </div>
        </section>

    </body>
</html>