<!DOCTYPE html>
<%- include ('partials/nav-bar.ejs') %>
<html lang="en">

    <head>
        <title>Home</title>
        <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
        <link rel="stylesheet" href="./css/style.css" >
    </head>

    <body>
      <section class="home">
        
        <div class="home-content">
            <h3>Hello, This is</h3>
            <h1>Julian Rodriguez</h1>
            <h3>Welcome to My <span class="multiple-text">Software Developer Portfolio!</span></h3>
            <p>Welcome to my corner of the internet where I bring lines of code to life and transform ideas into functional, elegant software. 
              I'm thrilled to have you here, and I invite you to explore my journey as a software developer.</p>
              <br>
            <h3>Empowering Innovation through Code</h3>
            <p>My mission as a software developer is to empower innovation by crafting high-quality, scalable, and user-centric software solutions. 
              I believe that code has the power to transform businesses, improve lives, and drive positive change in the world.</p>
        </div>

        <div class="right-text">
          <p style="font-size: 30px">What You'll Find Here</p>
          <ul>
            <li>A showcase of my projects, demonstrating my skills and expertise.</li>
            <li>Insights into my development journey and experiences.</li>
            <li>Blog posts on emerging technologies, best practices, and coding adventures.</li>
            <li>Collaborative opportunities to bring your software ideas to life.</li>
          </div>
          </ul>
    </section>

    </body>
</html>