<%- include ('partials/nav-bar.ejs') %>
<!DOCTYPE html>
<html lang="en">

    <head>
        <title>Home</title>
        <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
        <link rel="stylesheet" href="./css/style.css" >
    </head>

    <body>

        <section class="card-section">

            <div class="card">
                <div class="img-project">
                    <img src="./img/Calculator.jpeg" alt="">
                </div>
                <div>
                    <h2>Calculator</h2>
                    <p>The C# Calculator project is a software application designed to perform various mathematical operations, 
                        providing users with a versatile and user-friendly tool for calculations.
                        This project leverages the C# programming language and the .NET framework to create an intuitive calculator application.</p>
                </div>
            </div>

            <div class="card">
                <div class="img-project">
                    <img src="./img/Theater.jpeg" alt="">
                </div>
                
                <div>
                    <h2>Pixar theater</h2>
                    <p>Our web application offers a comprehensive collection of Pixar movies, spanning across various years and artistic visions. 
                        With a user-friendly interface, you can effortlessly search for your favorite Pixar films and discover hidden gems.</p>
                </div>
            </div>

            <div class="card">
                <div class="img-project">
                    <img src="./img/monster.png" alt="">
                </div>
                
                <div>
                    <h2>Monster Escape Game</h2>
                    <p>Is a third-person horror game in Unity that will immerse you in a dark and terrifying haunted mansion.
                        You will take on the role of John, a desperate man who ventures into the unknown to uncover the mysteries surrounding his own family. 
                        What has happened to his wife, daughter, and son?
                        Get ready for an intense and jump-scare-filled gaming experience.</p>
                </div>
            </div>
        </section>
    </body>
</html>