<%- include ('partials/nav-bar.ejs') %>
<!DOCTYPE html>
<html lang="en">

    <head>
        <title>Home</title>
        <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
        <link rel="stylesheet" href="./css/style.css" >
    </head>

    <body>
        <section class="service-section">
            <table>
                <thead>
                    <caption>Services</caption>
                    <tr>
                        <th></th>
                        <th>Description</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="services">
                            Web Application Development
                        </td>
                        <td class="description">
                            Creating dynamic web applications using Java EE (Enterprise Edition), Spring Framework, or servlets and JSP (JavaServer Pages).
                        </td>
                    </tr>
                    <tr>
                        <td class="services">
                            Mobile Application Development
                        </td>
                        <td class="description">
                            Building native mobile applications for Android using Java.
                        </td>
                    </tr>
                    <tr>
                        <td class="services">
                            Desktop Application Development
                        </td>
                        <td class="description">
                            Developing cross-platform desktop applications using Java Swing or JavaFX.
                        </td>
                    </tr>
                    <tr>
                        <td class="services">
                            System Integration
                        </td>
                        <td class="description">
                            Integrating systems and enterprise applications using technologies like Java Message Service (JMS) or RESTful Web Services.
                        </td>
                    </tr>
                    <tr>
                        <td class="services">
                            API Development
                        </td>
                        <td class="description">
                            Designing and developing APIs (Application Programming Interfaces) to enable interaction with other applications.
                        </td>
                    </tr>
                    <tr>
                        <td class="services">
                            Web Development with Spring Boot
                        </td>
                        <td class="description">
                            Building websites and web applications using the Spring Boot framework.
                        </td>
                    </tr>
                </tbody>
            </table>
        </section>
    </body>
</html>